################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/data/ProjectOnion.MongoDB/bin/Debug/netcoreapp2.0
/data/ProjectOnion.MongoDB/obj
/ProjectOnion/bin/Debug/netcoreapp2.0
/ProjectOnion/obj
/src/ProjectOnion.Model/bin/Debug/netcoreapp2.0
/src/ProjectOnion.Model/obj
/src/ProjectOnion.Repository/obj
/src/ProjectOnion.Repository/bin/Debug/netcoreapp2.0
/src/ProjectOnion.Service/obj
/src/ProjectOnion.Service/bin/Debug/netcoreapp2.0
.vs/
/src/ProjectOnion/obj
/src/ProjectOnion/bin/Debug/netcoreapp2.0
/tests/ProjectOnion.IntegrationTests/bin/Debug/netcoreapp2.0
/tests/ProjectOnion.IntegrationTests/obj
/tests/ProjectOnion.UnitTests/obj
/tests/ProjectOnion.UnitTests/bin/Debug/netcoreapp2.0
